{% extends "base.html" %}
	{% block content %}
		<script>
			$(document).ready( function () {
				$( "#update" ).dialog({
					autoOpen: false,
					width: 500
				});
				var table = $('#myTable').DataTable();
				$('table').on('click','#delBut', function(){
					var r = confirm("Confirm deletion?");
					if (r == true){
						var currentRow = $(this).closest('tr').find("#code_s").text();
						$.post('http://127.0.0.1:5000/college/delete', {currentRow}, function(){
						});
						table.row($(this).parents('tr')).remove().draw();
					};
				});
				$('table').on('click','#updbut', function(){
					var oldcode = $(this).closest("tr").find("#code_s").text(); 
					var code = $(this).closest("tr").find("#code_s").text(); 
					var namey = $(this).closest("tr").find("#name_s").text(); 
					$("#update").dialog("open");
					$("#ocodes").val(oldcode);//view only
					$("#codes").val(code);
					$("#names").val(namey);
				});
			});
		</script>
		<form action = "/college/back"type = "submit">
			<button class="btn-primary btn" >Back</button>
		</form>
		<div class="d-flex justify-content-center text-center">
			<h1 class="font-weight-bold" id="title">College</h1>
		</div>
		<div class="container">
			<div class='row'>
				<div class='col'>
					<form class="d-flex justify-content-center py-2" action="/college/college_add/" method="post">
						<button type="submit" class="btn-lg btn-link btn-block" id="addBtn">Add</button>
					</form>
				</div>
			</div>
		</div> 
		<div class='container'>
			<table class="display table table-striped table-hover" id="myTable">
				 <thead>
					<tr>
					  <th scope="col">Code</th>
					  <th scope="col">Name</th>
					  <th scope="col">Task</th>
					</tr>
				 </thead>
				 <tbody>
					{% for row in data %}    
					<tr>
						<td id="code_s">{{row[0]}}</td>
						<td id="name_s">{{row[1]}}</td>
						<td>  
							<button type="button" class="btn" id="delBut">Del</button>						
							<button type="btn" class="btn" id="updbut">Upd</button>
						</td>
					</tr>
					{% endfor %}
				 </tbody>
				 <div id="update" title="update_dialog">
					<form action="/college/update" method="post">
						<div class="form-group">
							<input type="text" id="ocodes" class="form-control" name="oldcode"readonly>
						</div>
						<div class="form-group">
							<input type="text" id="codes" class="form-control" placeholder="Code" name="code">
						</div>
						<div class="form-group">
							<input type="text" id="names" class="form-control" placeholder="Name" name="cname">
						</div>
						<form class="d-flex justify-content-center py-2">
							<button type="submit" name="submit" class="btn-lg" id="loginBtn" onclick="return confirm('ARE YOU SURE?')">Submit</button>
						</form>
					</form>
				 </div>
			</table>
		</div>
	{% endblock %}
