{% extends "base.html" %}
	{% block content %}
		<script>
			$(document).ready( function () {
				$( "#update" ).dialog({
					autoOpen: false,
					width: 500
				});
				var table = $('#myTable').DataTable();
				$('table').on('click','#delBut', function(){
					var r = confirm("Confirm deletion?");
					if (r == true){
						var currentRow = $(this).closest('tr').find("#student_id").text();
						$.post('http://127.0.0.1:5000/student/delete', {currentRow}, function(){
						});
						table.row($(this).parents('tr')).remove().draw();
					};
				});
				$('table').on('click','#updbut', function(){
					var oldstudentid = $(this).closest("tr").find("#student_id").text(); 
					var studentid = $(this).closest("tr").find("#student_id").text(); 
					var ln = $(this).closest("tr").find("#last_name").text(); 
					var fn = $(this).closest("tr").find("#first_name").text(); 
					var cour = $(this).closest("tr").find("#course").text(); 
					var years = $(this).closest("tr").find("#year").text(); 
					var gen = $(this).closest("tr").find("#gender").text(); 
					$("#update").dialog("open");
					$("#olstud").val(oldstudentid);//view only
					$("#stud").val(studentid);
					$("#namel").val(ln);
					$("#namef").val(fn);
					$("#cour").val(cour);
					$("#yr").val(years);
					$("#gend").val(gen);
				});
			});
		</script>
		<form action = "/student/back"type = "submit">
			<button class="btn-primary btn" >Back</button>
		</form>
		<div class="d-flex justify-content-center text-center">
			<h1 class="font-weight-bold" id="title">Student Table</h1>
		</div>
		<div class="container">
			<div class='row'>
				<div class='col'>
					<form class="d-flex justify-content-center py-2" action="/student/student_add/" method="post">
						<button type="submit" class="btn-lg btn-link btn-block" id="loginBtn">Add</button>
					</form>
				</div>
			</div>
		</div> 
		<div class='container'>
			<table class="display table table-striped table-hover" id="myTable">
				 <thead>
					<tr>
					  <th scope="col">Student ID</th>
					  <th scope="col">First Name</th>
					  <th scope="col">Last Name</th>
					  <th scope="col">Course</th>
					  <th scope="col">Year</th>
					  <th scope="col">Gender</th>
					  <th scope="col">Task</th>
					</tr>
				 </thead>
				 <tbody>
					{% for row in data %}    
					<tr>
						<td id="student_id">{{row[0]}}</td>
						<td id="first_name">{{row[1]}}</td>
						<td id="last_name">{{row[2]}}</td>
						<td id="course">{{row[3]}}</td>
						<td id="year">{{row[4]}}</td>
						<td id="gender">{{row[5]}}</td>
						<td>  
							<button type="button" class="btn" id="delBut">Del</button>						
							<button type="btn" class="btn" id="updbut">Upd</button>
						</td>
					</tr>
					{% endfor %}
				 </tbody>
				 <div id="update" title="update_dialog">
					<form action="/student/update"method="post">
						<div class="form-group">
							<input type="text" id="olstud" class="form-control" placeholder="New ID" name="oldid"readonly>
						</div>
						<div class="form-group">
							<input type="text" id="stud" class="form-control" placeholder="ID No" name="id">
						</div>
						<div class="form-group">
							<input type="text" id="namel" class="form-control" placeholder="Last Name" name="fname">
						</div>
						<div class="form-group">
							<input type="text" id="namef" class="form-control" placeholder="First Name" name="lname">
						</div>
						<div class="form-group">
							<input type="text" id="cour" class="form-control" placeholder="Course" name="course">
						</div>
						<div class="form-group">
							<input type="text" id="yr" class="form-control" placeholder="Year" name="year">
						</div>
						<div class="form-group">
							<input type="text" id="gend" class="form-control" placeholder="Gender" name="gender"> 
						</div>
						<form class="d-flex justify-content-center py-2">
							<button type="submit" name="submit" class="btn-lg" id="loginBtn" onclick="return confirm('CAN YOU CONFIRM?')">Submit</button>
						</form>
					</form>
				 </div>
			</table>
		</div>
	{% endblock %}
